.signUp-modal {
    width: 568px;
    height: 700px;
    border-radius: 10px;
}

.signup-header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    border-bottom: 1px grey solid;
}

.signup-form {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form form {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.signup-form input {
    margin-bottom: 5%;
    width: 100%;
    height: 50px;
}

.signup-submit-button-div {
    padding-top: 5%;
}

.signup-submit-button-div button {
    width: 102%;
    height: 40px;
    border: 0;
    border-radius: 9px;
    color: white;
    background-color: red;
}

.signup-submit-button-div .disabled {
    width: 102%;
    height: 40px;
    border: 0;
    border-radius: 9px;
    color: black;
    background-color: grey;
}
