.total-assets {
    font-size: xx-large;
}

.portfolio-red {
    color: red;
}

.portfolio-green {
    color: green;
}

.difference-red {
    color: red;
}

.difference-green {
    color: green;
    font-size: small;
}