.stock-detail-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
}

.stock-detail {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding-top: 3%;
}

.stock-detail-main {
    width: 75%;
}

.stock-detail-sidebar {
    width: 25%;
}

.stock-order-form-wrapper {
    height: 480px;
    width: 100%;
    border: #42494B 1px solid;
    background-color: #1E2021;
}

.stock-after-order-wrapper {
    height: 330px;
    width: 100%;
    border: #42494B 1px solid;
    background-color: #1E2021;
}

.order-form-title {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: #42494B 1px solid;
}

.order-buying-power {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-top: #42494B 1px solid;
}

.order-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

#order-buy-title {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#order-sell-title {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#order-buy-title.active-green {
    color: #5AC53B;
    border-bottom: 2px solid #5AC53B;
}

#order-buy-title.active-red {
    color: red;
    border-bottom: 2px solid red;
}

#order-sell-title.active-green {
    color: #5AC53B;
    border-bottom: 2px solid #5AC53B;
}

#order-sell-title.active-red {
    color: red;
    border-bottom: 2px solid red;
}

.buy-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.order-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.order-market-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: #42494B 1px solid;
    margin-left: 10px;
    margin-right: 10px;
}

.order-submit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.order-submit-wrapper button {
    height: 40px;
    width: 70%;
    border-radius: 20px;
    cursor: pointer;
}

.stock-about-wrapper p{
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 1em; /* Adds margin at the bottom for spacing between paragraphs */
  padding: 0;
  color: white; /* Text color */
  text-align: justify; /* Align text to both left and right edges */
  background-color: black; /* Background color */
  /* border: 1px solid #ccc; Border for visual separation */
}


.disabled {
    width: 60%;
    height: 40px;
    border: 0;
    border-radius: 9px;
    color: black;
    background-color: grey;
}


.order-submit-wrapper button:hover {
    background-color: #5AC53B;
}

.sell-all{
    border: 1px solid grey;
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}

