.hidden {
    display: none;
}

.nav-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    height: 80px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.logo-img {
    height: 40px;
    display: inline-block;
    width: 30%;
}

.logo-text {
    display: inline-block;
    width: 70%;
    color: pink;
    font-size: x-large;
}

.nav-bar-logo {
    width: 133pt;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.profile-dropdown {
    position: absolute;
    padding: 8px 0;
    margin-top: 34px;
    top: 50%;
    border-radius: 12px;
    box-shadow: 0 2px 16px rgba(0 0 0 / 12%);
    min-width: 240px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 100;
    --navigation-bar-offset: 144px;
    background-color: white;
    top: 40px;
    right: 80px;
}

.profile-dropdown li {
  padding: 12px 16px;
  font-size: 14.5px;
  cursor: pointer;
  color: #222222;
  overflow: visible;
  line-height: 18px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.nav-profile-createSpot {
    display: flex;
    align-items: center;
}

.create-spot-text {
    margin-right: 10px;
    text-decoration: none;
}

.navigtion-button-wrapper {
    /* style={{ color: "black", fontSize: "20px", borderRadius:'20px', borderColor: 'grey', width: '100px', height: '40px' }} */
    color: black;
    font-size: 30px;
    border-radius: 20px;
    border-color: grey;
    width: 100px;
    height: 40px;
}